body {
	font-size: 9pt;	font-family: Helvetica, Arial, sans-serif;
	color: #111;
}

a { color: #000; } a:hover, a:active { color: #E5A427; }

.container {
	margin: 0 auto;
	width: 760px;
	clear: both;
}

#header {
	background: #777; color: #fff;
	height: 55px; line-height: 55px;
}
	#header img { float: left; }
	#header #nav { float: right; font-size: 1.1em; font-weight: bold; }
		#header #nav li { float: left; padding: 0 10px; }
			#header #nav li a { color: #fff; text-decoration: none; }
			#header #nav li a:hover, #header #nav li a:active { color: #E5A427; }
			#header #nav li.active a { color: #f8ce91; }

#pitch {
	background: url(../img/pattern.gif);
	height: 300px;
	padding-top: 15px;
}
	#pitch #screenshot { 
		display: block; width: 256px; height: 360px; float: left;
	}

		#pitch #screenshot img{ 
			width: 256px; height: 256px;
		}
	
	#pitch #presentation {
		float: left; 
		width: 370px;
		margin-top: 50px;
	}
		#pitch #presentation h1 { 
			font-size: 1.9em; line-height: 1em;
			font-weight: bold;
			margin-bottom: 10px;
			font-family: georgia,times;
		}
		#pitch #presentation p {  font-size: 1.3em; margin-bottom: 10px; }
		#pitch #presentation img { width: 180px; height: 38px; }
		#pitch #presentation #signup { float: left; }
		#pitch #presentation #taketour { float: right; }
	

#content { 
	height: 500px;
	border: 1px solid #bbb; border-left: 0 none; border-right: 0 none;
}

	#content h2 { 
		padding-top: 15px; font-family: georgia,times; font-size: 1.6em;
	}
	#content h3 { 
		font-family: georgia,times; font-size: 1.2em;
	}

	#content img { float: left; margin-right: 10px; width: 128px; height: 128px; }

	#content #principles { float: left; width: 350px; border-right: 1px dotted #ccc; padding-right: 9px; margin-right: 10px;  }	
		#content #principles .principle { height:128px; clear: left; margin-bottom: 10px; }
			
			

	#content #feeds { float: left; width: 390px; }
		#content #feeds #twitter img { float: left; width: 50px; height: 50px; }
		
		#content #feeds #blog { clear: left; }
		#content #feeds #blog h2 { text-align: center; }
		#content #feeds #blog .post { padding: 5px 10px; border-top: 1px dotted #ccc; }
			#content #feeds #blog .post .meta { font-size: 0.8em; font-style: italic; margin-bottom: 2px; }
		
		

